ul {
    list-style: none; 
    margin: 0; 
    padding-left: 0;
  }
  a {
    text-decoration: none; 
    padding: 5px 10px;
    background-color: rgb(187, 243, 220);
    color: rgb(116, 109, 109);
    font-size: 30px;
    
  }
  a:hover{
      background-color: white;
      color: black;
      border-bottom: 5px  solid rgb(98, 173, 127) ;
  }
  li {
    display: inline;
    margin-right:5px; 
    
  }