*{
    margin: 0;
    padding: 0;
}


.maindiv{
    position: reative;
    background-image: url('0.png');
    background-repeat: no-repeat;
    background-size: 100%;   
    height: 900px;
    width: 1900px;
}
.fly{
    position: absolute;
    left: -100px;
    top: 200px;
    background-image: url('4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 400px;
    height: 400px;
}
.Chip{
    position: absolute;
    
    left: 1200px;
    bottom: -250px;
    background-image: url('2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    width: 400px;
    height: 500px;
}
.Deil{
    position: absolute;

    left: 980px;
    bottom: -230px;
    background-image: url('3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    width: 400px;
    height: 500px;
}
.Gaika{
    
    position: absolute; 
    left: 150px;
    top: 200px;
    background-image: url('5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    width: 400px;
    height: 500px;
}
.Deil2{
    position: absolute;
    left: 300px;
    top: 60px;
    background-image: url('6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    width: 400px;
    height: 500px;
}
.cheese{
    position:absolute;
    top: 142px;
    right: 50px;
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-position: left bottom;

    background-size: 100%;
    width: 800px;
    height: 500px;
}